.app {
  // background: ;
  .navbar-light .navbar-brand,
  a {
    color: #fff !important;
    font-size: 13.5px;
    margin-right: 7px;
    font-weight: 300;
  }
  .navbar-light {
    a.navbar-brand {
      color: #3896b4 !important;
      font-size: 23px;
      font-weight: bolder;
    }
  }

  button {
    background: #fff;
  }
}
.num {
  @media (max-width: 576px) {
    text-align: center;
  }
}
